aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
et_xmlfile==2.0.0
frozenlist==1.8.0
idna==3.11
lxml==6.0.2
multidict==6.7.1
openpyxl==3.1.5
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
py-cord==2.7.1
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
xlsxwriter==3.2.9
xlwings==0.33.21
yarl==1.23.0
